# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
dist/
build/
.vite/

# Env / secrets
.env
.env.*
!.env.example
*.pem
*.key

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# OS
.DS_Store
